.loadinghand{
    display: block;
    position: fixed;
    box-sizing: border-box;
    left:0px;
    top: 169px;
    background-color: transparent;
    width: 100%;
    height: 72px;

    border: .69px dotted transparent;
    border-radius: 6px;
    padding: 64px 84px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    transform: translateY(-500px);
    transition: all .69s ease-out;
}

.loadinghand img{
    width: 169px;
    height: auto;
}

.notimenu{
    max-height: 500px;
    overflow-y: scroll;
}

.noticard1{
    max-height: 69px;
    overflow-y: hidden;
}

.card-title{
    margin-bottom: 6px;
}

a.nav-link{
    z-index: 2;
}

ul.nav-treeview{
    border: .42px solid white;
    border-radius: .29rem;
}