.loadinghand{
    display: block;
    position: fixed;
    box-sizing: border-box;
    left:0px;
    top: 169px;
    background-color: transparent;
    width: 100%;
    height: 72px;

    border: .69px dotted transparent;
    border-radius: 6px;
    padding: 64px 84px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    transform: translateY(-500px);
    transition: all .69s ease-out;
}

.loadinghand img{
    width: 169px;
    height: auto;
}

.notimenu{
    max-height: 500px;
    overflow-y: scroll;
}

.noticard1{
    max-height: 69px;
    overflow-y: hidden;
}

.card-title{
    margin-bottom: 6px;
}

a.nav-link{
    z-index: 2;
}

ul.nav-treeview{
    border: .42px solid white;
    border-radius: .29rem;
}

.filecontainerone{
    display: flex !important;
    flex-flow: row !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
    flex-wrap: wrap !important;
}

.mailbox-attachment-icon.has-img {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    min-height: 132.5px;
    background-color: #666;
}

.w-120{
    width: 169px !important;
}

.imgindex{
    float: right;
    color: #666;
    font-weight: 700;
}

.mailbox-attachment-info{
    height: 126px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
}

.mailbox-attachments li {
    margin-bottom: 36px !important;
    border: 1px solid #b7aeae !important;
    position:  relative !important;
}

.customoverlay{
    visibility:collapse;
    position: absolute;
    top: 0px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 1;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.customoverlay img{
    opacity: .69;
    background-color: white;
}

.customoverlay img.active{
    background-color: red;
}


.checkimg{
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 1.69px 1.69px 1px #666;
}







@media (max-width: 991px) {

    .filecontainerone{
        flex-flow: column !important;
        justify-content: flex-start !important;
        align-items: center !important;
    }


    }